.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  width: 100%;
  max-width: 650px;
  background: white;
  border-radius: 18px;
  padding: 24px;
  min-height: 375px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.modalTitle {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 625px) {
  .modalContent {
    margin-inline: 15px;
  }
}
